@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply antialiased desktop:text-[0.8333333333vw];
  }
}

@layer components {
  .typography-title-lg {
    @apply text-9xl;
  }
  .typography-title-md {
    @apply text-6xl;
  }
  .typography-title-sm {
    @apply text-2xl;
  }
  .typography-base {
    @apply text-base;
  }
  .typography-link {
    @apply underline;
  }
  .typography-ul {
    @apply list-disc;
  }
  .typography-ol {
    @apply list-decimal;
  }
}

@font-face {
  font-family: "GT Haptik";
  src: url("/fonts/GTHaptikRegular.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT Haptik";
  src: url("/fonts/GTHaptikBold.woff2") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
